.link {
  display: flex;
  gap: 10px;
  color: aliceblue;
  text-decoration: none;
}

.title:hover,
.title:focus {
  color: hotpink;
}

.title {
  font-weight: 600;
  margin-bottom: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
